<%@ Page Language="VB" AutoEventWireup="false" CodeFile="articles.aspx.vb" Inherits="articles" MasterPageFile="master.master"%>
<%@ MasterType VirtualPath="master.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<div class="art_title"><asp:Label ID="ltlarticleheadline" runat="server" /></div>
<div class="date"><asp:Label ID="ltlarticledate" runat="server" /></div>





  <asp:Label Id="ltlarticle" runat="server" />





<!-- end body art content -->

</asp:Content>
