<%@ Page Language="VB" AutoEventWireup="false" CodeFile="content.aspx.vb" Inherits="content" MasterPageFile="master.master"%>
<%@ MasterType VirtualPath="master.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<div class="art_title"><asp:Label ID="ltlarticleheadline" runat="server" /></div>
<div class="date"><asp:Label ID="ltlarticledate" runat="server" /></div>
<asp:Label Id="ltlcontent" runat="server" />
</asp:Content>
