<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default"  MasterPageFile="master.master"%>
<%@ MasterType VirtualPath="master.master"%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<table border="0" cellpadding="0" cellspacing="0">
<tr><td>
<table width="492px" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <asp:Literal runat="server" ID="lit_articles"/>
    <td><img src="images/stroke-news.jpg" border="0" height="91px" width="1px"/></td><td width="240px" style="background-image:url(images/news-background-main.png);background-repeat:repeat-x;width:240px;height:100%;color:#000000;vertical-align:top;padding-left:5px;padding-top:3px;padding-right:3px;text-align:left;"><asp:Literal ID="ltlHeadlines" runat="server" /></td>
  </tr>
</table>
</td></tr>
<tr><td>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td style="background-color:#ffffff;background-image:url(images/news-scroller-background-664x33.png);background-repeat:repeat-x;width:245px;height:33px;color:#ffffff;font-weight:bold;text-align:left;"><asp:Literal ID="ltlmorenews" runat="server" />&nbsp;BAFANA UPDATE</td><td style="width:1px;background-color:#ffffff;"></td><td style="background-color:#ffffff;background-image:url(images/news-scroller-background-664x33.png);background-repeat:repeat-x;width:245px;height:33px;color:#ffffff;font-weight:bold;text-align:left;"><asp:Literal ID="ltllatestfeatures" runat="server" />&nbsp;YOUTH ACADEMY</td></tr>
<tr><td><table border="0" cellpadding="0" cellspacing="0"><tr><td><asp:Literal ID="ltlmorenews_1" runat="server"/></td></tr></table></td><td style="width:1px;background-color:#ffffff;"></td><td style="background-color:#ffffff;background-image:url(images/News-panels-background.png);background-repeat:repeat-x;width:120px;height:80px;color:#000000;font-weight:normal;"><asp:Literal ID="ltlyouth" runat="server"/></tr>
</table>
</td></tr>
<tr><td>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td style="background-color:#ffffff;background-image:url(images/news-scroller-background-664x33.png);background-repeat:repeat-x;width:245px;height:33px;color:#ffffff;font-weight:bold;text-align:left;">&nbsp;SUFC FEATURES</td><td style="width:1px;background-color:#ffffff;"></td><td style="background-color:#ffffff;background-image:url(images/news-scroller-background-664x33.png);background-repeat:repeat-x;width:245px;height:33px;color:#ffffff;font-weight:bold;text-align:left">&nbsp;MATSATSANTSA SHOW</td></tr>
<tr><td><asp:Literal ID="ltlFeatures" runat="server"/></td><td style="width:1px;background-color:#ffffff;"></td><td><asp:Literal ID="ltlFeatures2" runat="server"/></td></tr>
</table>
</td></tr>
</table>
</asp:Content>
