<%@ Page Language="VB" AutoEventWireup="false" CodeFile="fixtures.aspx.vb" Inherits="fixtures" MasterPageFile="master.master" %>
<%@ MasterType VirtualPath="master.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div class="body_art_content"> 
<asp:Label Id="ltlFixtures" runat="server" />
</div>
<div style="clear:both;"></div>
</asp:Content>
