<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Logs.aspx.vb" Inherits="Logs" MasterPageFile="master.master"%>
<%@ MasterType VirtualPath="master.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<div class="body_art_content"> 
<!--<div class="column_title">PSL Standings</div>-->
<asp:Label Id="ltlLogs" runat="server" />
</div>
<div style="clear:both;"></div>
 <!-- end body -->

<!-- end body art content -->

</asp:Content>


