<%@ Page Language="VB" AutoEventWireup="false" CodeFile="search.aspx.vb" Inherits="search" MasterPageFile="master.master" %>
<%@ MasterType VirtualPath="master.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div style='background-image:url(images/ArticleHeader.jpg);width:489px;height:27px;color:#ffffff;
font-weight:bold;text-align:left;padding-left:3px;'>Article Search</div>
<asp:Label Id="ltlContent" runat="server" />
</asp:Content>