﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GenericEMailForm.aspx.cs" Inherits="SuperSport.MatchCentre.UI.Web.Utils.GenericEMailForm1" EnableViewState="false" %>
<%@ Register src="GenericEMailForm.ascx" tagname="GenericEMailForm" tagprefix="uc" %>
<uc:GenericEMailForm ID="ucGenericEMailForm" runat="server" />

