﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="content.aspx.cs" Inherits="SuperSport_SuperSportUnited.content" %>
<%@ Register src="~/MatchCentreUI/Mobi/Content/GenericContent.ascx" tagname="ContentView" tagprefix="uc" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">
    <uc:ContentView ID="ucContentView" runat="server" />
</asp:Content>
