﻿/* Defaults
--------------------------------------------*/
body 
{
    color: #343434;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	line-height:15px;
	padding:0;
	margin:0;
	background: #003366 url(../images/bg.jpg) no-repeat fixed center top;
}

a {
    text-decoration: none;
    color: #343434;
}

a:hover {
    text-decoration: none;
    color: #1269b0;
	font-weight:bold;
	text-align:right;
}



a img {
    border: none;
}

table {
    border-collapse: collapse;
}


h1{
	color:#19375f;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	top:auto;
	
}

h1:hover{
	color:#19375f;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	top:auto;
	text-decoration:underline;
}

h2{
	color:#19375f;
	font-size:12px;
	font-weight:bold;
}



/* GENERAL
--------------------------------------------*/
.global_wrapper{
	width:980px;
	margin:0 auto;
	position: relative;
	padding: 0;
	background-color:#ebe9e9;
}

.padding10{
	padding-top:10px;
}

.padding15{
	padding-top:15px;
}

.more {
    text-decoration: none;
    color: #1269b0;
	font-weight:bold;
	text-align:right;
}

.divider{
	padding-top:10px;
	padding-bottom:10px;
}

/*  HEADER BANNER
--------------------------------------------*/
.header{
	width:980px;
	margin:10px auto;
	height:163px;
	position:relative;
}

.logo{
	float:left;
	width:165px;
}

.banner728{
	float:right;
	width:728px;
	height:90px;
	padding-top:27px;
}

.socialmedia-hdr-container{
	float:right;
	padding-bottom:0;
	position:relative;
	width:300px;
	margin-top:14px;
	text-align:right;
}

.socialmedia-icons{
	padding-left:10px;
}

/*  NAVIGATION
--------------------------------------------*/
.nav_wrapper{
	width:980px;
	margin:0 auto;
	position: relative;
	padding: 0;
}

/* CONTENT
--------------------------------------------*/
#contentWrapper {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FCFCFE;
    background-image: url(../images/contentbg.jpg);
    background-origin: padding-box;
    background-repeat:repeat;
    background-size: auto auto;
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 980px;
}

#contentLeft {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
	padding-bottom:20px;
    position: relative;
    width: 620px;
}

#content300left {
    float: left;
    position: relative;
    width: 300px;
}

#content300right {
    float:right;
    position: relative;
    width: 300px;
}

#contentRight {
    float: right;
    position: relative;
    width: 300px;
	height:auto;
	margin-top:20px;
	margin-right:20px;
}

.block620{
	background-color:#FFF;
	display:block;
	padding:15px;
}

.shadow620{
	background-image:url(../images/shadow620.png);
	background-position:bottom;
	background-repeat:no-repeat;
	height:20px;
	width:620px;
	display:block;
	
}

.hdr620{
	color: #FFFFFF;
	font-size: 16px;
	font-family: Tahoma;
	border: 1px solid #19375F;
	background : -webkit-linear-gradient(top, #2457A0, #19375F);
	background : -moz-linear-gradient(top, #2457A0, #19375F);
	background : -o-linear-gradient(top, #2457A0, #19375F);
	border-radius: 5px 5px 0px 0px;
	text-shadow: 1px 1px 1px #19375F;
	width:608px;
	height:24px;
	padding-top:5px;
	padding-left:10px;
	letter-spacing:inherit;
}

.block300{
	background-color:#FFF;
	display:block;
	padding:15px;
	overflow:auto;
}

.shadow300{
	background-image:url(../images/shadow300.png);
	background-position:bottom;
	background-repeat:no-repeat;
	height:20px;
	width:300px;
	display:block;
	
}

.hdr300{
	color: #FFFFFF;
	font-size: 16px;
	font-family: Tahoma;
	border: 1px solid #19375F;
	background : -webkit-linear-gradient(top, #2457A0, #19375F);
	background : -moz-linear-gradient(top, #2457A0, #19375F);
	background : -o-linear-gradient(top, #2457A0, #19375F);
	border-radius: 5px 5px 0px 0px;
	text-shadow: 1px 1px 1px #19375F;
	width:288px;
	height:24px;
	padding-top:5px;
	padding-left:10px;
	letter-spacing:inherit;
}

/* BUTTONS
--------------------------------------------*/
/* This imageless css button was generated by CSSButtonGenerator.com */
.more-link {
    text-align: right;
} 

.buttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #1269b0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #1269b0;
	box-shadow:inset 0px 1px 0px 0px #1269b0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1269b0), color-stop(1, #19375f) );
	background:-moz-linear-gradient( center top, #1269b0 5%, #19375f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1269b0', endColorstr='#19375f');
	background-color:#1269b0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #2458a0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	padding:5px 7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #19375f;
	margin-top:10px;
}

.buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #19375f), color-stop(1, #1269b0) );
	background:-moz-linear-gradient( center top, #19375f 5%, #1269b0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#19375f', endColorstr='#1269b0');
	background-color:#19375f;
}

.buttons:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/* Contetn Info
--------------------------------------------*/
#content {
	width:270px;
	height:auto;
	float:left;	
	
}

.infoleft {
	float:left;
	width:180px;
	overflow:inherit;
	height:auto;
	text-align:left;
	margin:0;
}

.inforight {
	float:left;
	width:180px;
	overflow:inherit;
	height:auto;
	text-align:left;
	margin:0;
}

.smallpicright{
	float:right;
	width:80px;
	height:80px;
	padding-left:10px;
	
}

.smallpicleft{
	float:left;
	width:80px;
	height:80px;
	padding-right:10px;
	
}

.videopic{
	width:120px;
	height:90px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:75px;
	
}

.videoclip{
	color:#666;
	font-size:11px;
}

.title{
	display:block;
	background-color:#9C3;
	
}

.sponsorstrip{
	width:980px;
	margin:0 auto;
	position: relative;
	padding: 0;
	background-color:#fff;
}




